In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

import os
import sys
module_path = os.path.abspath(os.path.join('../'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [17]:
from src.config.data_constants import COLUMNS
from src.config.paths_constants import RAW_DATA_PATH
from src.data.load_data import load_raw_data
from src.features.pre_processing import replace_values

In [4]:
raw_df = load_raw_data()

/Users/valeria/anaconda/envs/cm/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (34,80,82) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [18]:
df = replace_values(raw_df)

In [30]:
#Are these super high interests correct?
df['Interest'].sort_values().unique()[-20]

255.19

In [33]:
df['Age'].sort_values().unique()

array([ 0,  1,  2, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
       32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
       49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65,
       66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77])

In [20]:
for col in df.select_dtypes(include=[np.number]).columns:
    print(col)
    print(df[col].min(), df[col].max())

for col in df.select_dtypes(exclude=[np.number]).columns:
    if ('-1.' in df[col]) | ('-1' in df[col]):
        print(col)
        print(df[col].min(), df[col].max())

LoanNumber
37 1851726
ApplicationSignedHour
0 23
ApplicationSignedWeekday
1 7
Age
0 77
AppliedAmount
31.9558 10632.0
Amount
6.39 10632.0
Interest
3.0 264.31
LoanDuration
1 60
MonthlyPayment
0.0 2368.54
HomeOwnershipType
-1.0 10.0
IncomeFromPrincipalEmployer
0.0 228400.0
IncomeFromPension
0.0 5038.0
IncomeFromFamilyAllowance
0.0 2006.0
IncomeFromSocialWelfare
0.0 4551.0
IncomeFromLeavePay
0.0 21300.0
IncomeFromChildSupport
0.0 2500.0
IncomeOther
0.0 50000.0
IncomeTotal
0.0 1012019.0
ExistingLiabilities
0 40
LiabilitiesTotal
0.0 12400000.0
RefinanceLiabilities
0 23
DebtToIncome
0.0 198.02
FreeCash
-2332.0 158748.64
CreditScoreEeMini
0.0 1000.0
NoOfPreviousLoansBeforeLoan
0 25
AmountOfPreviousLoansBeforeLoan
0.0 53762.0
PreviousRepaymentsBeforeLoan
0.0 34077.42
PreviousEarlyRepaymentsBefoleLoan
0.0 48100.0
PreviousEarlyRepaymentsCountBeforeLoan
0 11

In [ ]:
{
    COLUMNS.OCCUPATION_AREA: {
        1.: 'Other',
        2.: 'Mining',
        3.: 'Processing',
        4.: 'Energy',
        5.: 'Utilities',
        6.: 'Construction',
        7.: 'Retail and wholesale',
        8.: 'Transport and warehousing', 
        9.: 'Hospitality and catering',
        10.: 'Info and telecom',
        11.: 'Finance and insurance',
        12.: 'Real-estate',
        13.: 'Research',
        14.: 'Administrative',
        15.: 'Civil service & military', 
        16.: 'Education',
        17.: 'Healthcare and social help',
        18.: 'Art and entertainment',
        19.: 'Agriculture, forestry and fishing'
    }
    COLUMNS.EMPLOYMENT_STATUS: {
        -1.: np.nan,
        0.: np.nan,
        1.: 'Unemployed',
        2.: 'Partially Employed',
        3.: 'Fully Employed',
        4.: 'Self-Employed',
        5.: 'Entrepreneur',
        6.: 'Retiree'
    }
    COLUMNS.MARITAL_STATUS: {
        -1.: np.nan,
        0.: np.nan,
        1.: 'Married',
        2.: 'Cohabitant',
        3.: 'Single',
        4.: 'Divorced',
        5.: 'Widow'
    }
    COLUMNS.EDUCATION: {
        -1.: np.nan,
        1.: 'Primary',
        2.: 'Basic',
        3.: 'Vocational',
        4.: 'Secondary',
        5.: 'Higher',
        0.: np.nan
    }
    COLUMNS.USE_OF_LOAN: {
        -1.: np.nan,
        0: 'Loan Consolidation',   
        1: 'Real Estate',
        2: 'Home Improvement',
        3: 'Business',
        4: 'Education',
        5: 'Travel',
        6: 'Vehicle',
        7: 'Other',
        8: 'Health', 
        101: 'Working Capital', 
        102: 'Purchase of Machinery Equipment', 
        104: 'Accounts Receivable Financing',
        106: 'Construction Finance', 
        107: 'Acquisition of Stocks', 
        108: 'Acquisition of Real Estate', 
        110: 'Other Business'
    }
    COLUMNS.GENDER: {
        0.: 'Male',
        1.: 'Woman',
        2.: np.nan
    }
    COLUMNS.VERIFICATION_TYPE: {
        0.: np.nan,
        1.: 'Income Unverified',
        2.: 'Cross-Ref by Phone'
        3.: 'Income Verified',
        4.: 'Income and Expenes Verified'
    },
    COLUMNS.LANGUAGE.CODE: {
        1: 'Estonian',
        2: 'English',
        3: 'Russian',
        4: 'Finnish',
        5: 'German',
        6: 'Spanish',
        9: 'Slovakian',
        7: np.nan,
        10: np.nan,
        13: np.nan,
        15: np.nan,
        21: np.nan,
        22: np.nan
    }
}

In [ ]:
len(raw_df['LoanNumber'].unique())

In [ ]:
list(raw_df.columns)